html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;
  color: #3f1622;
}

nav {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
}

a {
  color: #8f2440;
  text-decoration: none;
}

img {
  width: 100%;
}

.caption {
  text-align: center;
}

header p:first-child {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote p {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

h2 ol {
  list-style-type: lower-alpha;
}

dl dt {
  font-weight: bold;
}

aside ul {
  list-style-type: circle;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
